---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout title="Inicio">
  <div class="prose mx-auto">
    <p>{SITE_DESCRIPTION}</p>

    <p>
      <strong>Computación Gráfica</strong> es un curso de cuarto año en la carrera de Computer Science en la <strong>Universidad de Ingeniería y Tecnología (UTEC)</strong>. 
      Para ver información detallada sobre el curso, puedes consultar el <a href="/silabo">Sílabo</a>.
    </p>

    <p>El curso está dividido en cuatro unidades principales:</p>
    <ul class="list-disc list-inside">
      <li><strong>Procesamiento de Imágenes</strong></li>
      <li><strong>Geometría Computacional</strong></li>
      <li><strong>Sistemas Gráficos</strong></li>
      <li><strong>Visión Computacional</strong></li>
    </ul>

    <p>
      Si tienes alguna pregunta o comentario, no dudes en escribir en el Discord del curso. El link lo podrás encontrar en la seccion de anuncios en Canvas.
    </p>

  </div>
</Layout>
