---
export interface Props {
  progreso: number;
}

const { progreso } = Astro.props;
---

<div class="w-full bg-gray-300 rounded-full h-6 overflow-hidden mb-6">
  <div class="bg-blue-600 h-6 transition-all duration-500" style={`width: ${progreso}%`}></div>
</div>
